th {
    background: lightsteelblue;
    color: darkslateblue;
    font-family: 'Lato', monospace;
    font-size: 18px;
    text-align: center;
}

td {
    background: lightsteelblue;
    color: darkslateblue;
    font-family: 'Lato', monospace;
    font-size: 18px;
    text-align: center;
}
